@import url(https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap);


#clicks:active {
    transform: scale(1.2);
  }

#clicksbonus:active {
  transform: scale(1.2);
}

/* background */
body {
  background-image:url(https://nsa40.casimages.com/img/2021/02/23/210223020347565365.png);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* texte */
#stat {
  text-align: center;
	font-family: 'Sedgwick Ave', 'cursive';
  margin-top: 10px;
  height: 25vh;
}

/* texte */
#cookiesActif{
  color: #fff;
  font-size:3em;
	font-family: 'Sedgwick Ave', 'cursive';
}

/* texte */
#cookiesPerSec{
  color: #fff;
  font-size:1.5em;
	font-family: 'Sedgwick Ave', 'cursive';
}

/* position general */
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* position Earth */
section h2 {
  position: relative;
  width: 18em;
  height: 18em;
}

/* position moon & spaceship */
section h3 {
  position: relative;
  width: 10em;
  height: 10em;
}

/* position image */
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
      /* height: 100%;*/
  object-fit: cover;
}

/* fonction bouton start */
button{
	font-family: 'Sedgwick Ave', 'cursive';
  margin: 10px;
  outline:0; 
  font-size:1em;
  font-weight:600;
  background:#fff;
  border:none;
  padding:1em 2em;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #581845,
    2px 2px 0 0 #581845,
    3px 3px 0 0 #581845,
    4px 4px 0 0 #581845,
    5px 5px 0 0 #581845,
    6px 6px 0 0 #581845,
    7px 7px 0 0 #581845,
    8px 8px 0 0 #581845,
    9px 9px 0 0 #581845,
    10px 10px 0 0 #581845,
    11px 11px 0 0 #581845,
    12px 12px 0 0 #581845;
}
button:hover{
  color:#444;
}
button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #581845,
    2px 2px 0 0 #581845,
    3px 3px 0 0 #581845,
    4px 4px 0 0 #581845,
    5px 5px 0 0 #581845;
}
/* fonction bouton end */

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait){
  button{
	  font-family: 'Sedgwick Ave', 'cursive';
    margin: 10px;
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#fff;
    border:none;
    padding:0.5em 1em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #581845,
      2px 2px 0 0 #581845,
      3px 3px 0 0 #581845,
      4px 4px 0 0 #581845,
      5px 5px 0 0 #581845,
      6px 6px 0 0 #581845,
      7px 7px 0 0 #581845,
      8px 8px 0 0 #581845,
      9px 9px 0 0 #581845,
      10px 10px 0 0 #581845,
      11px 11px 0 0 #581845,
      12px 12px 0 0 #581845;
    }
  button:hover{
    color:#444;
    }
  button:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #581845,
      2px 2px 0 0 #581845,
      3px 3px 0 0 #581845,
      4px 4px 0 0 #581845,
      5px 5px 0 0 #581845;
  }
  #stat {
    height: 50vh;
  }
  section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
  }
}





/* reglage psodo footer */
h4 {
  font-family: 'Sedgwick Ave', 'cursive';
  font-size:1em;
  font-weight:300;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}


.spaceship {
  position: absolute;
  top: 250px;
  left: -999px;
  width: 200px;
  height: 200px;
}

.appear{
  -webkit-animation: spaceship 10s infinite;
  -moz-animation: spaceship 10s infinite;
  animation: spaceship 10s 1;
}

@-webkit-keyframes spaceship {
  0% {
    left: -999px;
  }
  50% {
    left: 600px;
  }
  100% {
    left: -999px;
  }
}
@-moz-keyframes spaceship {
  0% {
    left: -999px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: -999px;
  }
}
@keyframes spaceship {
  0% {
    left: -999px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: -999px;
  }
}